<h1 [innerHTML]="category"></h1>


<section class="category">

    <div *ngIf="products" class="products">
        <a *ngFor="let product of products"
            [routerLink]="['/category', category,product.id]" >
            <article>
                
                <header>
                    <img [src]="product.imageType+','+product.image" />
                    <div class="header-infos">
                            <h2 [innerHTML]="product.name"></h2>
                            <div>
                                <span class="price" [innerHTML]="product.price"></span>
                                <s-stars [value]="product.stars"></s-stars>
                                
                            </div>
                    </div>
                    <div class="clear"></div>
                </header>
            </article>
        </a>
    </div>
    
    

</section>