
.category .products article header img,
.category .products article header .header-infos
{
float: left;
}

.category .products article header img{
    width: 100px;
}
.category .products article header .header-infos{
    width: calc(90% - 100px);
}
.category .products article{
    font-weight: 70%;
    margin-bottom: 2em;

    header{
        img{
            width: 100px;
        }
        h2{
            font-weight: 70%;
        }
        div.header-infos{
            margin-left: 2em;
        }
        div{
            span{
                display: block;
            }
            span.price::before{
                content:"$";
            }
            span.price{

            }

            span.stars::after{

            }
            span.stars{
               
            }

        }
    }
}


