<section class="product">
    <article *ngIf="product">
        <header>
            <div class="main-informations">
                <h1 class="product-title" [innerHTML]="product.name"></h1>
                <h2 class="product-price" [innerHTML]="product.price"></h2>
                <s-stars [value]="product.stars"></s-stars>
                <div class="clear"></div>
            </div>

            <div class="secondary-informations">
                <div class="tags" *ngIf="product.tags">
                    <ul>
                        <li *ngFor="let tag of product.tags">
                            <span [class]="tag.name" [innerHTML]="tag.name"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat accumsan lectus eget blandit.
                Pellentesque quis ex sed sapien malesuada varius. Suspendisse vitae leo mauris. Donec eu mi non felis
                dapibus
                dictum. Aliquam eget lacinia tortor,
            </p>


            <div class="product-image">
                <img [src]="product.imageType+','+product.image" />
            </div>


            <p>
                Quisque vehicula sodales velit vitae placerat. Praesent pharetra, ante ac condimentum interdum, libero
                eros
                tempor eros, ac faucibus purus erat nec nibh. Etiam ac justo volutpat, aliquam augue vel, aliquet est.
                Nunc
                eleifend fermentum metus, a scelerisque dolor auctor eget. Nulla sed neque ac est lobortis imperdiet eu
                quis
                nisi. Pellentesque placerat hendrerit nibh, eu ornare ligula viverra et. In quis turpis in nisl
                sollicitudin
                vestibulum. Integer sollicitudin erat velit, viverra tincidunt nibh blandit vitae. Quisque gravida
                ultricies
                ipsum, sit amet feugiat lacus tincidunt scelerisque. Donec sed maximus lacus. Vestibulum iaculis
                vestibulum
                erat, ac mattis nulla sollicitudin sed. Donec feugiat maximus mattis.
            </p>

        </div>




    </article>

    <aside>
        <div class="recommandations" *ngIf="recommandedProducts">
            <ul>
                <li *ngFor="let recommandation of recommandedProducts">
                    <a [routerLink]="buildProductLink(recommandation)">
                        <article>
                            <header>
                                <h1 class="product-title" [innerHTML]="recommandation.name"></h1>
                                <h2 class="product-price" [innerHTML]="recommandation.price"></h2>
                                <s-stars [value]="recommandation.stars"></s-stars>
                            </header>
                            <div class="product-image-small">
                                <img [src]="recommandation.imageType+','+recommandation.image" />
                            </div>
                        </article>

                    </a>
                </li>
            </ul>
        </div>
    </aside>
</section>