.product article{
    width: 69%;
    float: left;

    .product-price::before{
        content:"$";
    }

    .secondary-informations{
        margin-top:1em;
    }

    .content{
        margin-top: 2em;
        img{
            margin-left: calc(50% - 100px);
            height: 200px;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}


.product aside{
    width: 29%;
    float: right;
    font-size: 60%;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        article{
            margin-top:2em;
            border-bottom: 1px solid #7f8c8d;
            img{
                margin-top:2em;
                margin-bottom:2em; 
            }
            header{
                h1{
                    font-size: 140%;
                }
                h2{
                    font-size: 110%;
                }
                h2::before{
                    content:"$";
                }
            }
        }
    }
}


.tags{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            display: inline;
            span{
                background-color: #2980b9;
                color:#ecf0f1;
                border-radius: 1em;
                padding-left:1em;
                padding-right:1em;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                margin-right: 0.5em;
            }
        }
    }
}