

<menu class="navbar navbar-dark bg-dark shadow-sm">  
    <ul *ngIf="categories">
        <li >
            <a routerLink="/"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{exact:true}"
               class="home-link">Home</a>
        </li>
        <li *ngFor="let category of categories">
            <a [innerHTML]="category.name"
               [routerLink]="['/category', category.name]"
               routerLinkActive="active-link">
            </a>
        </li>

    </ul>
</menu>



<router-outlet></router-outlet>
