
.neo4j-poc {
    padding: 0;
    margin: 0;
    menu {
        padding: 0;
        margin: 0;
    }
}
.clear{
    clear: both;
}

.neo4j-poc menu.navbar{
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: inline-block;
            margin-left: 1em;
            a{
                color: aliceblue;
                &.active-link{
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}
